// Search
.search-form {
  padding: 20px 0px;
}

.loader {
  padding: 20px;
}

.form-control.ng-invalid.ng-dirty {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}