<div>
    <h1>Login</h1>

    <div class="row">
        <div class="col-sm-12" ng-if="loginCtrl.users">
            <table class="table">
                <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in loginCtrl.users">
                    <td><a ng-click="loginCtrl.login(user)">{{user.firstName}}</a></td>
                    <td><a ng-click="loginCtrl.login(user)">{{user.lastName}}</a></td>
                    <td><a ng-click="loginCtrl.login(user)">{{user.email}}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
